.sale-benefit {
  border-radius: 4px;
  width: 54px;
  height: 28px;
  position: absolute;
  left: 16px;
  top: 16px;
}
.bg--red {
  background-color: #ff4242;
}
.sale-text {
  padding: 1px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  display: block;
}
