@import "./assets/scss/main.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: LatoRegular, sans-serif;
  font-size: 500;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
button,
input {
  border: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
}
.btn {
  padding: 0px 32px;
  border: 1px solid #17696a;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
}
.btn--white {
  color: #ffffff !important;
}

.bg--image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.arrow-rigth--icon {
  position: relative;
  display: flex;
  &::after {
    content: "";
    background-image: url("./assets/images/banners/Right.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    width: inherit;
    height: inherit;
    color: inherit;
    cursor: pointer;
  }
}
.arrow-left--icon {
  position: relative;
  display: flex;
  &::after {
    content: "";
    background-image: url("./assets/images/banners/Left.svg");
    position: absolute;
    display: inline-block;
    width: inherit;
    height: inherit;
    color: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
.list--default {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.shevron--rigth {
  background-image: url("./assets/images/modal/Right.svg");
  order: 2;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.modal.active {
  display: block;
}
.modal.active body {
  overflow: hidden;
}
textarea,
input,
button {
  font-family: inherit;
}
