@font-face {
 font-family: LatoRegular;
 src: url('../fonts/Lato-Regular.ttf');
 font-size: 500;
}
@font-face {
 font-family: LatoBold;
 src: url('../fonts/Lato-Bold.ttf');
 font-size: 900;
}
@font-face {
 font-family: LatoBlack;
 src: url('../fonts/Lato-Black.ttf');
 font-size: 500;
}
@font-face {
 font-family: Ubuntu;
 src: url('../fonts/Ubuntu\ Bold.ttf');
 font-size: 500;
}